.search__descriptions {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.7rem;
  background-color: white;
  outline: #4f9000;

  border-radius: 59px;
  box-shadow: rgba(0, 0, 0, 0.75) 7px 6px 18px 4px;
  border: none;
  padding: 0.4rem 2rem;
}
