.search {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.7rem;
  background-color: white;
  outline: #4f9000;
  position: absolute;
  top: 7.3rem;
  width: 35rem;
  height: 47px;
  border-radius: 59px;
  box-shadow: rgba(0, 0, 0, 0.75) 6px 14px 18px 4px;
  border: none;
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 1.1rem;
}
