.saved__button {
  display: block;

  text-align: center;

  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    img {
      display: block;
      width: 60px;
      height: 60px;
    }
  }
}

@media (max-width: 1000px) {
  .saved__button {
    button {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
